{% extends "./Admin/base_admin.html" %}



{% block head %}
Home|User
{% endblock %}


{% block body %}

<div>

    <div class="card position-absolute start-50 translate-middle-x"style="width:80%; align-items:center;">
        <div class="card-body">
            <h3> Parking Lots </h3>
        </div>
        <!-- <h2 class="position-absolute top-5 start-50 translate-middle-x"> Parking Lots</h2> -->
    </div>

    <div>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
</div>



        <!-- for cards of parking lots -->
    </div>

    <div>
        <button class="bg-danger position-absolute start-50 translate-middle-x"> Add Lot + </button>
    </div>
</div>

{% endblock %}