{% extends "./Admin/base_admin.html" %}


{% block title %} Login page {% endblock %}


{% block body %}
<div class="auth-form-container">

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-success fade-out" role="alert">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}

    <form action="/login_admin" method="POST" class="auth-form">
        
        {% if login_success1 %}
        <div class="form-alert alert alert-danger">Admin not found</div>
        {% endif %}
        
    <div class="page-header admin-summary-header">
        <h2 class="title">Login for admin</h2>
    </div>

        <div class="form-group">
            <label for="user_name" class="form-label">Username</label>
            <input type="text" id="user_name" name="user_name" class="form-control">
        </div>

        <div class="form-group">
            <label for="pass_word" class="form-label">Password</label>
            <input type="password" id="pass_word" name="pass_word" class="form-control">
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary form-button">Login</button>
        </div>
        
    </form>
</div>

{% endblock %}