{% extends './User/base_user.html' %}

{% block head %} Book Lot {% endblock %}

{% block body %}
<div class="main-form-container mx-auto p-5 m-2">
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        {% if category == 'success' %}
      <div class="alert alert-success fade-out text-center" role="alert">
        <img src="../../static/images/success.png" style="width: 25px; height: 25px;"/>
        {{ message }}
      </div>
    {%elif category == 'error'%}
      <div class="alert alert-danger fade-out text-center" role="alert">
        <img src="../../static/images/error.png" style="width: 25px; height: 25px;"/>
        {{ message }}
      </div>
    {%else%}
    <div class="alert alert-info fade-out text-center" role="alert">
      {{ message }}
    </div>
    {% endif %}
      {% endfor %}
  {% endif %}
{% endwith %}
<div class="card mx-auto text-center" style="width: 80%;">
  <h3 class="my-3">Book Lot</h3>
</div>
    <form method="POST" action="{{ url_for('bookLotUser', user_name=user_name, login_success=login_success, lot_id=lot.id) }}" class="main-form">

        <div class="form-group">
            <label class="form-label">User ID</label>
            <input type="text" class="form-control" value="{{ user.id }}" readonly>
        </div>

        <div class="form-group">
            <label class="form-label">Lot ID</label>
            <input type="text" class="form-control" value="{{ lot.id }}" readonly>
        </div>

        <div class="form-group">
            <label class="form-label">Spot ID</label>
            <input type="text" class="form-control" value="{{ spot.id }}" readonly>
        </div>

        <div class="form-group">
            <label class="form-label">Location</label>
            <input type="text" class="form-control" value="{{ lot.prime_loc_name }}" readonly>
        </div>

        <div class="form-group">
            <label class="form-label">Price (per spot per hour)</label>
            <input type="text" class="form-control" value="{{ lot.price }}" readonly>
        </div>

        <div class="form-group">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" value="{{ lot.address }}" readonly>
        </div>

        <div class="form-group">
            <label class="form-label">Pincode</label>
            <input type="text" class="form-control" value="{{ lot.pincode }}" readonly>
        </div>

        <div class="form-group">
            <label for="vehicle_no" class="form-label" >Vehicle No</label>
            <input type="text" class="form-control"  name="vehicle_no" placeholder="Enter in caps">
        </div>

        <div class="form-group">
            <label for="park_timestamp" class="form-label">Time for Booking</label>
            <input type="datetime-local" class="form-control" name="park_timestamp">
        </div>  
        
        <div class="text-center">
            <button type="submit" class="btn btn-primary form-button">Book</button>
        </div> 
    </form>
</div>
{% endblock %}
