{% extends "./User/base_user.html" %}

{% block title %} Login page {% endblock %}

{% block body %}
<div class="auth-form-container mx-auto p-5 m-5">
    <div class="page-header admin-summary-header">
        <h2 class="auth-form-title">Login</h2>
    </div>
    <form action="/login_user" method="POST" class="auth-form">
        {% if login_success1 %}
        <div class="form-alert alert alert-danger">User not found</div>
        {% endif %}

        <div class="form-group">
            <label for="user_name" class="form-label">Username</label>
            <input type="text" id="user_name" class="form-control" name="user_name">
        </div>

        <div class="form-group">
            <label for="pass_word" class="form-label">Password</label>
            <input type="password" id="pass_word" class="form-control" name="pass_word">
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary form-button">Login</button><br><br>
        </div>
        <a href="/register_user" class="form-link">Register here!</a>
    </form>
</div>
{% endblock %}
