{% extends "./User/base_user.html" %}


{% block title %} Login page {% endblock %}


{% block body %}
<div class="border border-black mt-5 d-flex justify-content-center" style="max-width:fit-content; margin:auto;">
    <h2 style="color:rgb(0, 0, 0);">Login</h2>
    <form action="/login" method="POST">
        <!-- <div class="login">
            <h7> Email ID </h7>
            <input type="email" name="email"><br>
        </div> -->

        <div class="login">
            <h7> Username </h7>
            <input type="text" class="form-control" name="user_name"><br>
        </div>

        <div class="login">
            <h7> Password </h7>
            <input type="password" class="form-control" name="pass_word"><br>
        </div>

        <button type="submit" style="padding:5px; width:100px;background-color: aqua; margin:10px;">Login</button><br>
        <a href="/register" style="color: orangered; margin: 5px;">Register here!</a>
    </form>
</div>
{% endblock %}