{% extends "./User/base_user.html" %}

{% block title %} Search parking {% endblock %}


{% block body %}

<div class="d-flex justify-content-center align-items-center m-5 mx-auto" style="width: 1000px;">
  <!-- Dropdown first (slightly overlapping into search bar) -->
  <select class="form-select" style="width: 5px; border-color: black; border-top-right-radius: 0; border-bottom-right-radius: 0; z-index: 2; position: relative;">
  {% for lot in lots %}
    <option value={{lot.id}}>{{lot.prime_loc_name}}</option>
   {% endfor %} 
  </select>
<form action="{{url_for('searchParking', user_name=user_name, login_success=login_success)}}" method="POST">
  <!-- Search bar (slightly underlapping the dropdown) -->
  <input type="search" name="loc_name" class="form-control" style="width: 500px; margin-left: -1px; border-left: none; border-color: black; border-top-left-radius: 0; border-bottom-left-radius: 0;" placeholder="Enter location">



  <!-- Search button -->
  <button class="btn btn-warning ms-2">Search</button>
</form>
</div>

{%if lot_data is not none %}
{% for lots in lot_data %}
<div class="card mx-auto m-5" style="width: 400px;text-align: center;">
  <div class="card-body">
    <h5 class="card-title">Location: {{ lots.prime_loc_name }}</h5>
    <p class="card-text">Price (per spot per hr): {{ lots.price }}</p>
    <p class="card-text">Address: {{ lots.address }}</p>
    <p class="card-text">Pincode: {{ lots.pincode }}</p>
  </div>
</div>
{%endfor%}
{%endif%}

{% endblock %}